@attribute [Route(PageUrls.NotFound)]

@layout MainLayout
@using BlazorLifecycle.Components.Layout
@inherits LayoutComponentBase

<PageTitle>Not Found</PageTitle>
<h1>Not Found</h1>
<h2 class="text-zinc-100 my-8 text-md font-normal">Sorry, we couldn't find the page
    <br/>
    <code class="text-yellow-500 text-sm p-3 bg-zinc-700 rounded-md inline-block my-4">
        @Path
    </code>
</h2>
<a href="@PageUrls.Home">Return to the home page.</a>

@code {
    [Parameter] public string? Path { get; set; }
}